*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: linear-gradient(45deg, rgba(53, 124, 222, 0.747),rgba(130, 198, 234, 0.69),rgba(204, 228, 233, 0.718));
    background-size: 300% 300%;
    animation: color 9s ease-in-out infinite;
}


@keyframes color {
    0%{
        background-position: 0% 50%;

    }
    45%{
        background-position: 100% 50%;
        
    }
    0%{
        background-position: 0% 50%;

    }
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before{
    width: 100%;
}

#heading{
    margin-top: 200px;
    width: 100%;
    min-height: 90px;
   
    text-align: center;
    color: rgb(13, 13, 13);
    line-height: 30px;
}
#head-img{
    font-weight: bold;
    font-size: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif ;
}

.hero{
    width: 100%;
    min-height: calc(100vh- 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    
}


#drop-area{
    width: 800px;
    height: 500px;
    padding: 20px;
    background: #fff;
    text-align: center;
    border-radius: 20px;
}

.title{
    font-size: 30px;
    font-weight: bold;
}

#img-view{
    width: 100%;
    height: 90%;
    border-radius: 20px;
    border: 2px dashed #bbb5ff;
    background: #f7f8ff;
    background-position: center;
    background-size: cover;
}

#img-view i{
    color: rgb(82, 82, 233);
    font-size: 90px;
    margin-top: 25px;
}

#img-view span{
    display: block;
    font-size: 12px;
    color: #777;
    margin-top: 15px;
}

footer{
    margin-top: 230px;
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
.social-icon i{
    font-size: 40px;
}

footer .social-icon li{
    list-style: none;
}

footer .social-icon li a{
    font-size: 1em;
    color: #fff;
    margin: 0 10px;
    display:inline-block;
    transition: 0.5s;

}

footer .social-icon li a:hover{
    transform: translateY(-10px);
}

footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background:  url(wave.png);
    background-size: 1000px 100px;

}

footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 15px;
    animation: animateWave2 3s linear infinite;
}
footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 0;
    animation: animateWave 3s linear infinite;
}

footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 29px;
    animation: animateWave2 4s linear infinite;
}

@keyframes animateWave {
    0%{
        background-position-x:1000px;
    }
    100%{
        background-position-x:0px;
    }
}

@keyframes animateWave2 {
    0%{
        background-position-x:0px;
    }
    100%{
        background-position-x: 1000px;
    }
}
